<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3>Canguro 1</h3>
        <div class="col-md-5">
          <label for="posicionInicial1" class="form-label">Posicion inicial: </label>
          <input type="text" class="form-control" id="posicionInicial1" required>
        </div>
        <div class="col-md-5">
          <label for="velocidad1" class="form-label">Velocidad: </label>
          <input type="text" class="form-control" id="velocidad1" required>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Canguro 2</h3>
        <div class="col-md-5">
          <label for="posicionInicial2" class="form-label">Posicion inicial: </label>
          <input type="text" class="form-control" id="posicionInicial2" required>
        </div>
        <div class="col-md-5">
          <label for="velocidad1" class="form-label">Velocidad</label>
          <input type="text" class="form-control" id="velocidad1" required>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="respuesta.length > 0">
      <h4>¿Su encuentro es posible? {{respuesta}}</h4>
    </div>
  </div>